version: "3.7"

services:
   mqtt:
      image: eclipse-mosquitto
      ports:
         - "1883:1883"
      volumes:
         - ./mosquitto.conf:/mosquitto/config/mosquitto.conf

   mongodb:
      image: mongo:latest
      container_name: mongodb
      ports:
         - "27017:27017"
      volumes:
         - mongo_data:/data/db
      command: mongod --setParameter diagnosticDataCollectionEnabled=false

   mongo-express:
      image: mongo-express
      ports:
         - "8081:8081"
      environment:
         ME_CONFIG_MONGODB_SERVER: mongodb
      depends_on:
         - mongodb

   voice_profiling:
      build:
         context: ./processing_layer/user_profiling/voice_profiling
         dockerfile: Dockerfile
      ports:
         - "8000:8000"
      volumes:
         - ./processing_layer/user_profiling/voice_profiling:/app
      depends_on:
         - mongodb

   voice_metrics:
      build:
         context: ./processing_layer/metrics_computation/voice_metrics
         dockerfile: Dockerfile
      deploy:
         resources:
            limits:
               memory: 2G
      volumes:
         - ./processing_layer/metrics_computation/voice_metrics:/app
      depends_on:
         - mqtt
         - voice_profiling
         - mongodb

   respeaker_service:
      build:
         context: ./data_ingestion_layer
         dockerfile: Dockerfile.respeaker
      ports:
         - "8010:8010"
      volumes:
         - ./data_ingestion_layer:/app
      depends_on:
         - mqtt
         - mongodb
      environment:
         - MONGO_URL=mongodb://mongodb:27017
         - MQTT_HOST=mqtt
         - MQTT_PORT=1883
         - BASE_PORT=8010

   temporal_context_modeling_layer:
      build:
         context: ./temporal_context_modeling_layer
         dockerfile: Dockerfile
      ports:
         - "8082:8082"
      depends_on:
         - mongodb

   analysis_layer:
      build:
         context: ./analysis_layer
         dockerfile: Dockerfile
      deploy:
         resources:
            limits:
               memory: 1G
      ports:
         - "8083:8083"
      depends_on:
         - mongodb

   dashboard_layer:
      build:
         context: ./dashboard_layer
         dockerfile: Dockerfile
      ports:
         - "8084:8084"
      volumes:
         - ./analysis_layer/core:/app/core:ro
      depends_on:
         - mongodb
      environment:
         - PYTHONBUFFERED=1

volumes:
   mongo_data:
